{% extends 'base.html' %}

{% block css %}
    <style>
        .header {
            background-color: #333333;
            color: white;
            position: fixed;
            width: 100%;
            padding: 5px;
            left: 0;
            right: 0;
            z-index: 2000;
            top: 0;
            font-size: x-large;
            vertical-align: center;
        }

        .footer {
            background-color: #333333;
            color: white;
            position: fixed;
            width: 100%;
            padding: 5px;
            left: 0;
            right: 0;
            z-index: 2000;
            bottom: 0;
            font-size: small;
            text-align: center;
        }
    </style>
{% endblock %}

{% block text %}
    Home Page
{% endblock %}

{% block body_content %}
    <div id="body_div" style="padding: 1rem; width: 100%; top: 50px; position: relative">
        Welcome to Yushun AWM 2022/23!
    </div>
{% endblock %}

{#{% block body_content %}#}
{#{% if user.is_authenticated %}#}
{#  Hi {{ user.username }}!#}
{#  <p><a href="{% url 'logout' %}">Log Out</a></p>#}
{#{% else %}#}
{#  <p>You are not logged in</p>#}
{#  <a href="{% url 'login' %}">Log In</a>#}
{#{% endif %}#}
{#{% endblock %}#}
